In [37]:
import pandas as pd

In [38]:
df_cabride = pd.read_csv('../Dataset/cab_rides.csv')
df_weather = pd.read_csv('../Dataset/weather.csv')

In [39]:
def remove_missing_values(df):
    return df.dropna()

df_cabride = remove_missing_values(df_cabride)
print("The Cab rides dataset shape: ", df_cabride.shape)

The Cab rides dataset shape:  (637976, 10)

In [40]:
def filling_missing_values(df):
    return df.fillna(value=0)

df_weather = filling_missing_values(df_weather)
print("The Weather dataset shape: ", df_weather.shape)

The Weather dataset shape:  (6276, 8)

In [41]:
def convert_timestamp_to_datetime(df, unit):
    df['datetime'] = pd.to_datetime(df['time_stamp'], unit=unit)
    df['date'] = df['datetime'].dt.date
    df['time'] = df['datetime'].dt.time
    df['date_hour'] = df['date'].astype(str) + ' ' + df['datetime'].dt.hour.astype(str)
    return df

df_cabride = convert_timestamp_to_datetime(df_cabride, 'ms')
df_weather = convert_timestamp_to_datetime(df_weather, 's')

print("The columns in Cab rides dataset: ", df_cabride.columns)
print("The columns in Weather dataset: ", df_weather.columns)

The columns in Cab rides dataset:  Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name', 'datetime', 'date',
       'time', 'date_hour'],
      dtype='object')
The columns in Weather dataset:  Index(['temp', 'location', 'clouds', 'pressure', 'rain', 'time_stamp',
       'humidity', 'wind', 'datetime', 'date', 'time', 'date_hour'],
      dtype='object')

In [43]:
def remain_1record_1hour(df):
    mean = df.groupby(['location', 'date_hour'])[['temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind']].mean().reset_index()
    return mean

df_weather = remain_1record_1hour(df_weather)
print("The Weather dataset shape: ", df_weather.shape)
print(df_weather)

The Weather dataset shape:  (3960, 8)
      location      date_hour    temp  clouds  pressure    rain  humidity  \
0     Back Bay  2018-11-26 10  40.695   0.995  1014.800  0.0000     0.940
1     Back Bay  2018-11-26 11  40.185   0.955  1015.305  0.0000     0.940
2     Back Bay  2018-11-26 12  40.315   0.920  1015.275  0.0000     0.935
3     Back Bay  2018-11-26 13  41.950   0.910  1015.200  0.0031     0.910
4     Back Bay  2018-11-26 14  42.765   0.905  1014.695  0.0044     0.910
...        ...            ...     ...     ...       ...     ...       ...
3955  West End   2018-12-18 5  34.720   0.810  1001.740  0.0371     0.650
3956  West End   2018-12-18 6  33.340   1.000  1002.440  0.0000     0.620
3957  West End   2018-12-18 7  29.930   1.000  1003.150  0.0000     0.590
3958  West End   2018-12-18 8  28.320   0.970  1005.300  0.0000     0.560
3959  West End   2018-12-18 9  27.340   0.800  1006.060  0.0000     0.540

        wind
0      1.895
1      2.260
2      2.940
3      3.545
4      2.960
...      ...
3955  11.880
3956  13.340
3957  13.080
3958  15.550
3959  17.450

[3960 rows x 8 columns]

In [44]:
categories = {
    'UberX': 'standard',
    'Lyft': 'standard',
    'UberPool': 'shared ride',
    'Shared': 'shared ride',
    'UberXL': 'large vehicle',
    'Lyft XL': 'large vehicle',
    'Black': 'luxury',
    'Lux Black': 'luxury',
    'Black SUV': 'luxury SUV',
    'Lux Black XL': 'luxury SUV',
    'Lux': 'other',
    'WAV': 'other',
    'Taxi': 'other'
}

df_cabride['category'] = df_cabride['name'].map(categories)
print(df_cabride)

        distance cab_type     time_stamp    destination            source  \
0           0.44     Lyft  1544952607890  North Station  Haymarket Square
1           0.44     Lyft  1543284023677  North Station  Haymarket Square
2           0.44     Lyft  1543366822198  North Station  Haymarket Square
3           0.44     Lyft  1543553582749  North Station  Haymarket Square
4           0.44     Lyft  1543463360223  North Station  Haymarket Square
...          ...      ...            ...            ...               ...
693065      1.00     Uber  1543708385534      North End          West End
693066      1.00     Uber  1543708385534      North End          West End
693067      1.00     Uber  1543708385534      North End          West End
693069      1.00     Uber  1543708385534      North End          West End
693070      1.00     Uber  1543708385534      North End          West End

        price  surge_multiplier                                    id  \
0         5.0               1.0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7
1        11.0               1.0  4bd23055-6827-41c6-b23b-3c491f24e74d
2         7.0               1.0  981a3613-77af-4620-a42a-0c0866077d1e
3        26.0               1.0  c2d88af2-d278-4bfd-a8d0-29ca77cc5512
4         9.0               1.0  e0126e1f-8ca9-4f2e-82b3-50505a09db9a
...       ...               ...                                   ...
693065    9.5               1.0  353e6566-b272-479e-a9c6-98bd6cb23f25
693066   13.0               1.0  616d3611-1820-450a-9845-a9ff304a4842
693067    9.5               1.0  633a3fc3-1f86-4b9e-9d48-2b7132112341
693069   27.0               1.0  727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e
693070   10.0               1.0  e7fdc087-fe86-40a5-a3c3-3b2a8badcbda

                                  product_id          name  \
0                                  lyft_line        Shared
1                               lyft_premier           Lux
2                                       lyft          Lyft
3                                lyft_luxsuv  Lux Black XL
4                                  lyft_plus       Lyft XL
...                                      ...           ...
693065  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV
693066  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL
693067  55c66225-fbe7-4fd5-9072-eab1ece5e23e         UberX
693069  6d318bcc-22a3-4af6-bddd-b409bfce1546     Black SUV
693070  997acbb5-e102-41e1-b155-9df7de0a73f2      UberPool

                      datetime        date             time      date_hour  \
0      2018-12-16 09:30:07.890  2018-12-16  09:30:07.890000   2018-12-16 9
1      2018-11-27 02:00:23.677  2018-11-27  02:00:23.677000   2018-11-27 2
2      2018-11-28 01:00:22.198  2018-11-28  01:00:22.198000   2018-11-28 1
3      2018-11-30 04:53:02.749  2018-11-30  04:53:02.749000   2018-11-30 4
4      2018-11-29 03:49:20.223  2018-11-29  03:49:20.223000   2018-11-29 3
...                        ...         ...              ...            ...
693065 2018-12-01 23:53:05.534  2018-12-01  23:53:05.534000  2018-12-01 23
693066 2018-12-01 23:53:05.534  2018-12-01  23:53:05.534000  2018-12-01 23
693067 2018-12-01 23:53:05.534  2018-12-01  23:53:05.534000  2018-12-01 23
693069 2018-12-01 23:53:05.534  2018-12-01  23:53:05.534000  2018-12-01 23
693070 2018-12-01 23:53:05.534  2018-12-01  23:53:05.534000  2018-12-01 23

             category
0         shared ride
1               other
2            standard
3          luxury SUV
4       large vehicle
...               ...
693065          other
693066  large vehicle
693067       standard
693069     luxury SUV
693070    shared ride

[637976 rows x 15 columns]

In [45]:
def create_merge_data(df_cabride, df_weather):
    df_merge = pd.merge(df_cabride, df_weather, left_on=['source', 'date_hour'], right_on=['location', 'date_hour'])
    return df_merge

df_merge = create_merge_data(df_cabride, df_weather)
print(df_merge)

        distance cab_type     time_stamp    destination            source  \
0           0.44     Lyft  1544952607890  North Station  Haymarket Square
1           0.44     Lyft  1543284023677  North Station  Haymarket Square
2           0.44     Lyft  1543553582749  North Station  Haymarket Square
3           0.44     Lyft  1543463360223  North Station  Haymarket Square
4           0.44     Lyft  1545071112138  North Station  Haymarket Square
...          ...      ...            ...            ...               ...
635237      1.00     Uber  1543708385534      North End          West End
635238      1.00     Uber  1543708385534      North End          West End
635239      1.00     Uber  1543708385534      North End          West End
635240      1.00     Uber  1543708385534      North End          West End
635241      1.00     Uber  1543708385534      North End          West End

        price  surge_multiplier                                    id  \
0         5.0               1.0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7
1        11.0               1.0  4bd23055-6827-41c6-b23b-3c491f24e74d
2        26.0               1.0  c2d88af2-d278-4bfd-a8d0-29ca77cc5512
3         9.0               1.0  e0126e1f-8ca9-4f2e-82b3-50505a09db9a
4        16.5               1.0  f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2
...       ...               ...                                   ...
635237    9.5               1.0  353e6566-b272-479e-a9c6-98bd6cb23f25
635238   13.0               1.0  616d3611-1820-450a-9845-a9ff304a4842
635239    9.5               1.0  633a3fc3-1f86-4b9e-9d48-2b7132112341
635240   27.0               1.0  727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e
635241   10.0               1.0  e7fdc087-fe86-40a5-a3c3-3b2a8badcbda

                                  product_id          name  ...  \
0                                  lyft_line        Shared  ...
1                               lyft_premier           Lux  ...
2                                lyft_luxsuv  Lux Black XL  ...
3                                  lyft_plus       Lyft XL  ...
4                                   lyft_lux     Lux Black  ...
...                                      ...           ...  ...
635237  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV  ...
635238  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL  ...
635239  55c66225-fbe7-4fd5-9072-eab1ece5e23e         UberX  ...
635240  6d318bcc-22a3-4af6-bddd-b409bfce1546     Black SUV  ...
635241  997acbb5-e102-41e1-b155-9df7de0a73f2      UberPool  ...

                   time      date_hour       category          location  \
0       09:30:07.890000   2018-12-16 9    shared ride  Haymarket Square
1       02:00:23.677000   2018-11-27 2          other  Haymarket Square
2       04:53:02.749000   2018-11-30 4     luxury SUV  Haymarket Square
3       03:49:20.223000   2018-11-29 3  large vehicle  Haymarket Square
4       18:25:12.138000  2018-12-17 18         luxury  Haymarket Square
...                 ...            ...            ...               ...
635237  23:53:05.534000  2018-12-01 23          other          West End
635238  23:53:05.534000  2018-12-01 23  large vehicle          West End
635239  23:53:05.534000  2018-12-01 23       standard          West End
635240  23:53:05.534000  2018-12-01 23     luxury SUV          West End
635241  23:53:05.534000  2018-12-01 23    shared ride          West End

          temp    clouds  pressure   rain  humidity   wind
0       38.460  0.290000   1022.25  0.000  0.760000   7.68
1       44.065  0.995000   1002.88  0.106  0.895000  12.63
2       35.080  0.000000   1013.71  0.000  0.700000   5.25
3       37.680  0.433333    998.42  0.000  0.706667  11.16
4       40.780  0.930000   1000.15  0.000  0.790000   7.55
...        ...       ...       ...    ...       ...    ...
635237  36.690  0.410000   1023.64  0.000  0.760000   2.51
635238  36.690  0.410000   1023.64  0.000  0.760000   2.51
635239  36.690  0.410000   1023.64  0.000  0.760000   2.51
635240  36.690  0.410000   1023.64  0.000  0.760000   2.51
635241  36.690  0.410000   1023.64  0.000  0.760000   2.51

[635242 rows x 22 columns]